<html>
    <head>
        <title>Rafinad's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Rafinad's Blog</a></h1>
        </div>

        <div>
            <p>published: 06.09.2014, 11:32</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi Hi Hi Hi Hi</p>
        </div>

        <div>
            <p>published: 06.09.2014, 11:32</p>
            <h2><a href="">My srcond post</a></h2>
            <p>Hello Hello Hello Hello Hello</p>
        </div>
    </body>
</html>